@mixin flex($justify: normal, $align: normal, $col:row)
    display: flex
    justify-content: $justify
    align-items: $align
    flex-direction: $col

@mixin pos($pos: static, $top: unset, $left: unset)
    position: $pos
    top: $top
    left: $left

@mixin posBR($bot: unset, $right: unset)
    bottom: $bot
    right: $right

.useranimals
    &__container
        @include flex(space-around, center)

.player
    &__animals
        width: 100vw
        padding: 2rem
        list-style: none
        flex-wrap: wrap
        @include flex()

    &__animal
        width: 80px
        height: 50px
        margin: 5px
        border: 1px solid darkgray
        @include flex(center, center)

.btn
    &__trade
        display: none
        height: 60px
        width: 60px
        padding: 0
        border: 0
        border-radius: 50%
        text-align: center
        @include pos(fixed)
        @include posBR(1rem, 3rem)

.modal
    &__window
        width: 100vw
        height: 100vh
        @include pos(absolute, 0, 0)
        @include flex(center, center)

    &__container
        position: relative
        height: 70vh
        width: 80vw

    &__header
        text-align: center
        text-transform: capitalize

    &__close
        font-weight: bold
        border: none
        background: transparent
        font-size: 1rem
        cursor: pointer
        @include pos(absolute, .5rem)
        @include posBR(unset, 1rem)
        &:hover
            color: orange
